<!doctype html>
<html>
<head>
    <title>flask_website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">MURALI'S WEB APP</h1>
                <ul class="menu">
                <li><a href="{{ url_for('home') }}">home</a></li>
                <li><a href="{{ url_for('about') }}">about</a></li>
                </ul>
            </div>
        </header>
        <div class="container1">
        {%block content%}
        {%endblock%}
        </div>
    </body>
</html>